<html >

<head>
  <title>Express</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
</head>

<body class="#424242 grey darken-3">

 <div class="well"><h4>Admin Panel</h4></div>


<div class="">
    <div class="row">

            <div class="col m6" id="divider">

               
            <form action="/article/article-publishe" method="post" class="col s12"  encType="multipart/form-data">
                    <div class="row">
                      <div class="input-field col s6">
                      <input id="first_name" type="text" name="title" class="validate">
                      <label for="first_name">Title</label>
                      </div>
                  
                      <div class="input-field col s6">
                      <input id="last_name" type="text" class="validate" name="articleName">
                      <label for="last_name">Article Name</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                      <textarea id="textarea1" class="materialize-textarea" name="summery"></textarea>
                      <label for="disabled">Discription</label>
                      </div>
                    </div>
            <div class="row">
            <div class="file-field input-field">
            <div class="btn" style="width:25ex;">
            <span>File</span>
            <input type="file" name="article">
            </div>
            <div class="file-path-wrapper">
            <input class="file-path validate btn" type="text">
            </div>
            </div>
            <div class="row">
            <input type="submit" value="submit" class="btn">

            </div>
  </form>

  </div>
   
   
  </div>

  <div class="row">
    <h5><em>Important Notice</em></h5>
    <div class="col m5" class="div">

      <form action="/notice/inser-notice" method="post">
        <div class="row">
          <div class="input-field">
            <input type="text" name="title">
            <label for="">Titile</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
              <textarea id="textarea1" class="materialize-textarea" name="message"></textarea>
          <label >Notice</label>
          </div>
        </div>
        <div class="row">
          <input type="submit"  class="btn" value="post notice">
        </div>
      </form>
    </div>
    

      <div></div>
    </form>
  </div>

        </div>
    </div>
</div>
<script>
    $(function(){

          
    })
</script>
</body>

</html>